<!-- Benefits Section -->
<div class="container mx-auto py-12 mt-16">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

    <div class="bg-white p-8 rounded-lg shadow-lg text-center">
      <img src="https://cdn-icons-png.flaticon.com/512/1942/1942728.png" class="w-11 h-11 mx-auto text-blue-800" alt="">
      <h2 class="text-lg font-semibold mb-4">Fast Delivery</h2>
      <p class="text-gray-600">Get your books delivered to your doorstep in the shortest time possible.</p>
    </div>

    <div class="bg-white p-8 rounded-lg shadow-lg text-center">
      <img src="https://cdn-icons-png.flaticon.com/512/2489/2489756.png" class="w-11 h-11 mx-auto text-blue-800" alt="">
      <h2 class="text-lg font-semibold mb-4">Pay on Delivery</h2>
      <p class="text-gray-600">Enjoy the convenience of paying for your books when they arrive at your door.</p>
    </div>

    <div class="bg-white p-8 rounded-lg shadow-lg text-center">
      <img src="https://cdn-icons-png.flaticon.com/512/7687/7687730.png" class="w-11 h-11 mx-auto text-blue-800" alt="">
      <h2 class="text-lg font-semibold mb-4">3 Days Replacement</h2>
      <p class="text-gray-600">In case you receive a damaged book, you can get it replaced within 3 days.</p>
    </div>

  </div>
</div>